// Debug Stuff styling.
#pagetitle, #pagetemplate
	display: none

#debug-nav
	+position(fixed, 0 0 0 0)
	background: rgba(0,0,0,0.9)
	z-index: 99999999
	padding: em(30) 0 0 em(50)
	display: none
	a
		font-size: em(40)
		padding: em(5,40) 0
		color: white
		font-family: $NeueTextBold
		display: block
		&:hover
			color: $baker-red

#lit
	+position(fixed, null 0 0 0)
	display: none
	font-size: em(80)
	padding: 0 em(30,80) em(20,80)
	z-index: 9999999999
	text-align: center

.lit-right
	float: right

.lit-left
	float: left