
//COLOR PALETTE
$white: #FFF

$baker-red: #EF0030
$cim-orange: #e83928
$adi-blue: #1E68AA

$off-white: #fafafa
$light-grey: #f5f7f7
$light-grey-two: #edf0f0
$light-grey-three: #E5E5EA
$cool-grey: #a5a9ac
$dark-grey: #797c7e

$silver: #c9ced1
$silver-two: #dee1e2
$gunmetal: #505258

$body-copy: #1f2228

// FONTS

@include font-face("NeueHaasGroteskDisp-Bold", "/assets/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold", $file-formats: eot woff ttf svg)
@include font-face("NeueHaasGroteskTextMedium", "/assets/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium", $file-formats: eot woff ttf svg)
@include font-face("NeueHaasGroteskDisp-Regular", "/assets/fonts/NeueHaasGroteskDisp-Regular/NeueHaasGroteskDisp-Regular", $file-formats: eot woff ttf svg)
@include font-face("NeueHaasGroteskDispMedium", "/assets/fonts/NeueHaasGroteskDispMedium/NeueHaasGroteskDispMedium", $file-formats: eot woff ttf svg)
@include font-face("NeueHaasGroteskText-Regular", "/assets/fonts/NeueHaasGroteskTextRegular/NeueHaasGroteskText-Regular", $file-formats: eot woff ttf svg)
@include font-face("QuicksandBold-Regular", "/assets/fonts/Quicksand_Bold/QuicksandBold-Regular", $file-formats: eot woff ttf svg)
@include font-face("Georgia", "/assets/fonts/Georgia/Georgia", $file-formats: eot woff ttf svg)
@include font-face("NeueHaasGroteskTextBold", "/assets/fonts/NeueHaasGroteskTextBold/NeueHaasGroteskTextBold", $file-formats: eot woff ttf svg)
@include font-face("NeueHaasGroteskDispXLight", "/assets/fonts/NeueHaasGroteskDispXLight/NeueHaasGroteskDispXLight", $file-formats: eot woff ttf svg)


$neueDispBold:    "NeueHaasGroteskDisp-Bold"
$NeueTextBold:    "NeueHaasGroteskTextBold"
$neueDispMedium:  "NeueHaasGroteskDispMedium"
$neueTextMedium:  "NeueHaasGroteskTextMedium"
$neueDispRegular: "NeueHaasGroteskDisp-Regular"
$neueTextRegular: "NeueHaasGroteskText-Regular"
$NeueDispXLight:  "NeueHaasGroteskDispXLight"
$quicksand:       "QuicksandBold-Regular"
$georgia:         "Georgia"
$eloquent: 				"eloquent-jf-pro"

//TEXT STYLES
h1
	font-family: $neueDispBold
	font-size: em(81)
	font-weight: bold
	font-style: normal
	font-stretch: normal
	line-height: 1.05
	letter-spacing: em(-1)
	color: $body-copy

h2
	font-family: $neueDispBold
	font-size: em(54)
	font-weight: bold
	font-style: normal
	font-stretch: normal
	line-height: 1.11
	letter-spacing: em(-1)
	color: $body-copy

h3
	font-size: em(36)
	font-weight: bold
	font-style: normal
	font-stretch: normal
	line-height: 1.33
	letter-spacing: em(-0.5)
	color: $body-copy
  font-family: $neueDispBold

h4
	font-family: $neueDispBold
	font-size: em(24)
	font-weight: bold
	font-style: normal
	font-stretch: normal
	line-height: 1.5
	letter-spacing: em(-0.5)
	color: $body-copy

.body-serif
	font-family: georgia
	font-size: em(20)
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.5
	color: $body-copy

.body-sanserif
	font-size: em(20)
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.5
	color: $body-copy
  font-family: $neueDispRegular

.cta-btn
	font-family: $neueTextMedium
	font-size: em(18)
	font-weight: 500
	font-style: normal
	font-stretch: normal
	text-align: center
	color: $baker-red

.read-more-link
	font-family: $neueTextMedium
	font-size: em(18)
	font-weight: 500
	font-style: normal
	font-stretch: normal
	line-height: 1.11
	color: $baker-red

.carrot
	font-family: $quicksand
	font-size: em(16)
	font-weight: bold
	font-style: normal
	font-stretch: normal
	line-height: 1.5
	color: $baker-red

h5
	font-family: $neueTextMedium
	font-size: em(16)
	font-weight: 500
	font-style: normal
	font-stretch: normal
	line-height: 1.5
	margin: 0 auto
	color: $body-copy

h6
	font-family: $neueDispRegular
	font-size: em(16)
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.5
	color: $body-copy

.breadcrumb
	font-family: $neueTextMedium
	font-size: em(10)
	font-weight: 500
	font-style: normal
	font-stretch: normal
	line-height: 2.4
	letter-spacing: em(0.5)
	color: $body-copy
