=box-shadow($x: 0px, $y: 0px, $blur: 0px, $spread: 0px, $color: black)
	-webkit-box-shadow: $x $y $blur $spread $color
	-moz-box-shadow: $x $y $blur $spread $color
	box-shadow: $x $y $blur $spread $color

=hover-shadow
	&:hover
		+transition(all .5s ease)
		+box-shadow(0, em(21), em(20), 0, rgba(0,0,0,.12))

=border-radius($px)
	+border-top-radius($px)
	+border-bottom-radius($px)

=vertical-align($position: absolute, $percent: 50%)
	position: $position
	top: $percent
	-webkit-transform: translateY(-$percent)
	-ms-transform: translateY(-$percent)
	transform: translateY(-$percent)

=modifier($modifier)
	&--#{$modifier}
		@content