body.themed--cim
	// Page Header
	.page-header
		+linear-gradient(to right, #F85032, #E73827)
		+media($screen-md-min)
			min-height: em(372)
		.page-header__pre-title
			+media($screen-md-min)
				font-size: em(24)
				letter-spacing: em(-0.5, 24)
				margin-top: em(-38,24)
	.secondary-nav
		.secondary-nav__logo
			background-image: url('../../assets/images/affiliated-institution-landing/cim-logo-secondary-nav.svg')
		.secondary-nav__link-item--active .secondary-nav__link
			border-bottom: solid $cim-orange em(4)
			color: $cim-orange
		.secondary-nav__link:hover
			+media($screen-md-min)
				border-bottom-color: $cim-orange
				color: $cim-orange
		.btn-cta-round
			border-color: $cim-orange
			background: $cim-orange
			+media($screen-md-min)
				background: $white
				color: $cim-orange
				&:hover
					color: $white
					background: $cim-orange
	.quick-links__link
		color: $cim-orange
		background-image: url('../../assets/images/icons/chevron-right-orange.svg')
		+media($screen-md-min)
			&:hover
				color: darken($cim-orange,10)
				background-image: url('../../assets/images/icons/chevron-right-orange-hover.svg')
	.read-more
		color: $cim-orange
		background-image: url('../../assets/images/icons/chevron-right-orange.svg')
	.sidebar-left-nav
		.sidebar-left-nav__mobile-toggle,
		.sidebar-left-nav__link-item:hover .sidebar-left-nav__link,
		.sidebar-left-nav__link-item--active .sidebar-left-nav__link
			background: $cim-orange
	.career-facts
		&__num
			color: $cim-orange
		&__cta
			background: $cim-orange
			border-color: $cim-orange
			+media($screen-md-min)
				background: transparent
				color: $cim-orange
				&:hover
					background: $cim-orange
					color: $white
	.card-slider
		.slick-arrow
			background-image: url('../../assets/images/icons/chevron-left-thin-cim.svg')
			&:hover
				background-image: url('../../assets/images/icons/chevron-left-thin-cim-hover.svg')
		.slick-next
			right: 0
			background-image: url('../../assets/images/icons/chevron-right-thin-cim.svg')
			&:hover
				background-image: url('../../assets/images/icons/chevron-right-thin-cim-hover.svg')
	.card-event
		&__month,&__day
			color: $cim-orange
	.half-image-quote
		&__quote-container
			background: $cim-orange
	.callout-contact
		.callout-contact__intro
			color: $cim-orange
		.callout-contact__form-submit
			background: $cim-orange
			border-color: $cim-orange
			+media($screen-md-min)
				color: $cim-orange
				background: transparent
				&:hover
					color: $white
					background: $cim-orange
	.campus-grid__name
		color: $cim-orange
	.btn-cta-round-cim
		color: $cim-orange
		background: none
		border-color: $cim-orange
		&:hover
			color: $white
			background: $cim-orange
			border-color: $cim-orange
	.select2-dropdown .select2-results__option--highlighted[aria-selected]
    background: $cim-orange
    border-color: $cim-orange
	.js-select2 + .select2-container .select2-selection__arrow
		background: url("../../assets/images/icons/chevron-down-orange.svg") 50% 50% no-repeat
	.ui-datepicker .ui-datepicker-prev .ui-icon
		background: url("../../assets/images/icons/chevron-left-thin-cim.svg") 50% no-repeat
	.ui-datepicker .ui-datepicker-next .ui-icon
		background: url("../../assets/images/icons/chevron-right-thin-cim.svg") 100% 50% no-repeat
	.ui-datepicker tbody a.ui-state-highlight, .ui-datepicker tbody a.ui-state-hover, .ui-datepicker tbody a.ui-state-active
		color: $cim-orange


body.themed--adi
	.page-header
		+linear-gradient(to right, #1E68AA, #0f3b63)
		+media($screen-md-min)
			min-height: em(372)
		.page-header__pre-title
			+media($screen-md-min)
				font-size: em(24)
				letter-spacing: em(-0.5, 24)
				margin-top: em(-38,24)
	.secondary-nav
		.secondary-nav__logo
			background-image: url('../../assets/images/mega-menu/adi.svg')
		.secondary-nav__link-item--active .secondary-nav__link
			border-bottom: solid $adi-blue em(4)
			color: $adi-blue
		.secondary-nav__link:hover
			+media($screen-md-min)
				border-bottom-color: $adi-blue
				color: $adi-blue
		.btn-cta-round
			border-color: $adi-blue
			background: $adi-blue
			+media($screen-md-min)
				background: $white
				color: $adi-blue
				&:hover
					color: $white
					background: $adi-blue
	.quick-links__link
		color: $adi-blue
		background-image: url('../../assets/images/icons/chevron-right-adi.svg')
		+media($screen-md-min)
			&:hover
				color: darken($adi-blue,10)
				background-image: url('../../assets/images/icons/chevron-right-adi-hover.svg')
	.read-more
		color: $adi-blue
		background-image: url('../../assets/images/icons/chevron-right-adi.svg')
	.sidebar-left-nav
		.sidebar-left-nav__mobile-toggle,
		.sidebar-left-nav__link-item:hover .sidebar-left-nav__link,
		.sidebar-left-nav__link-item--active .sidebar-left-nav__link
			background: $adi-blue
	.career-facts
		&__num
			color: $adi-blue
		&__cta
			background: $adi-blue
			border-color: $adi-blue
			+media($screen-md-min)
				background: transparent
				color: $adi-blue
				&:hover
					background: $adi-blue
					color: $white
	.card-slider
		.slick-arrow
			background-image: url('../../assets/images/icons/chevron-left-thin-adi.svg')
			&:hover
				background-image: url('../../assets/images/icons/chevron-left-thin-adi-hover.svg')
		.slick-next
			right: 0
			background-image: url('../../assets/images/icons/chevron-right-thin-adi.svg')
			&:hover
				background-image: url('../../assets/images/icons/chevron-right-thin-adi-hover.svg')
	.card-event
		&__month,&__day
			color: $adi-blue
	.half-image-quote
		&__quote-container
			background: $adi-blue
	.callout-contact
		.callout-contact__intro
			color: $adi-blue
		.callout-contact__form-submit
			background: $adi-blue
			border-color: $adi-blue
			+media($screen-md-min)
				color: $adi-blue
				background: transparent
				&:hover
					color: $white
					background: $adi-blue
	.campus-grid__name
		color: $adi-blue
	.btn-cta-round_adi
		color: $adi-blue
		background: none
		border-color: $adi-blue
		&:hover
			color: $white
			background: $adi-blue
			border-color: $adi-blue
	.select2-dropdown .select2-results__option--highlighted[aria-selected]
    background: $adi-blue
    border-color: $adi-blue
	.js-select2 + .select2-container .select2-selection__arrow
		background: url("../../assets/images/icons/chevron-down-blue.svg") 50% 50% no-repeat
	.ui-datepicker .ui-datepicker-prev .ui-icon
		background: url("../../assets/images/icons/chevron-left-thin-adi.svg") 50% no-repeat
	.ui-datepicker .ui-datepicker-next .ui-icon
		background: url("../../assets/images/icons/chevron-right-thin-adi.svg") 100% 50% no-repeat
	.ui-datepicker tbody a.ui-state-highlight, .ui-datepicker tbody a.ui-state-hover, .ui-datepicker tbody a.ui-state-active
		color: $adi-blue
