#LandingPage.business
  h1, h2, h3, h4, h5, h6, p, ul, ol
    font-weight: unset

  .LandingPage-fullwidth-video-cta
    +media($screen-md-max)
      height: 25vh
    &:after
      +media($screen-md-max)
        content: none
  .LandingPage-fullwidth-video-cta__wrap
    max-width: 45%
    +media($screen-md-max)
      max-width: 50%
    img
      width: 100%
  .LandingPage-fullwidth-video-cta__title
    display: inline-block
    font-family: $neueDispBold
    font-size: em(64)
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: 0.6px
    color: #ffffff
    +media($screen-md-max)
      font-size: em(35)
    +media($screen-sm-max)
      font-size: em(30)
  .Business
    font-size: em(40)
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: 0px
    color: #ef0030

  .Content
    &__Left
      +span-columns(7)
      +media($screen-md-max)
        +span-columns(12)
        +shift(0)
      h2
        font-size: 54px
        font-style: normal
        font-stretch: normal
        line-height: 60px
        letter-spacing: normal
        text-align: left
        color: #292e35
        margin: em(10) em(0)
      p
        font-family: Georgia
        font-size: 20px
        font-style: normal
        font-stretch: normal
        line-height: 30px
        letter-spacing: normal
        text-align: left
        color: #1f2228
      ul
        li
          font-family: $NeueTextBold
          margin: 40px 20px
          position: relative
          font-size: 18px
          font-style: normal
          font-stretch: normal
          letter-spacing: normal
          text-align: left
          color: #1f2228
          &:before
            content: " "
            padding: 4px
            border-radius: 8px
            border: solid 2px #ef0030
            position: absolute
            left: -25px
            top: 3px
            display: inline-block
      h3
        .red
          color: #ef0030
    &__Right
      +span-columns(4)
      +media($screen-md-max)
        +span-columns(12)
      position: relative
      top: calc(-3.75em + -48px)
      +media($screen-md-max)
        top: 20px
      .contact-form__form
        +media($screen-md-max)
          margin: 0 0 3em
      .lead-form_head
        background-color: #ef0030
        padding: em(30) em(0)
        h3
          font-size: 48px
          font-style: normal
          font-stretch: normal
          line-height: 48px
          letter-spacing: normal
          text-align: center
          color: #ffffff
          +media($screen-md-max)
            font-size: 30px
            line-height: 30px


  .programs
    +media($screen-md-max)
      margin-top: em(40)
    &-title
      margin-top: em(50)
      h5
        font-family: $neueDispBold
        font-size: 18px
        font-style: normal
        font-stretch: normal
        line-height: normal
        letter-spacing: normal
        text-align: center
        color: #f5253e
      h2
        font-size: 60px
        font-style: normal
        font-stretch: normal
        line-height: 85px
        letter-spacing: normal
        text-align: center
        color: #292e35
        margin-bottom: em(20)
        +media($screen-md-max)
          line-height: 60px
          margin-bottom: em(12)

    .left
      border-right: solid 1px #c9ced1
      +media($screen-md-max)
        border-right: none
        border-bottom: solid 1px #c9ced1
    .left, .right
      width: 50%
      float: left
      margin-bottom: em(90)
      +media($screen-md-max)
        +span-columns(12)
        margin-bottom: em(40)
      .Programs
        +media($screen-md-max)
          margin: em(50) 0
      .Count, .Programs
        width: 50%
        float: left
        +media($screen-md-max)
          +span-columns(12)
        h5
          font-family: $neueDispBold
          font-size: 21px
          font-style: normal
          font-stretch: normal
          line-height: 36px
          letter-spacing: normal
          text-align: left
          color: #ef0030
        ul
          li
            font-family: $neueDispBold
            font-size: 17px
            font-style: normal
            font-stretch: normal
            letter-spacing: normal
            text-align: left
            color: #292e35
            margin: 18px 0px
        .number
          font-family: $eloquent
          font-size: 144px
          font-style: normal
          font-stretch: normal
          line-height: 100px
          letter-spacing: -2.7px
          text-align: center
          color: #f5253e
          margin-top: 50px
          margin-bottom: -20px
        .title
          margin: em(20) 0 em(16)
          font-size: 24px
          font-style: normal
          font-stretch: normal
          line-height: 35px
          letter-spacing: normal
          text-align: center
          color: #292e35
          +media($screen-md-max)
            margin: em(12) 0 em(16)
        .button
          text-align: center !important
          display: block
          width: 50%
          margin: auto
  .select2-dropdown li
    font-size: 1rem
