.template-apply
	.cta-block-grid
		+media($screen-md-min)
			padding-bottom: em(127)

.template--news-landing
	.block-grid
		+media($screen-md-min)
			padding: em(67) 0 em(73)

.template--news-article
	+media($screen-md-max)
		.layout-sidebar-right__right-side
			display: none
		.layout-sidebar-right__left-side .text-box
			padding-top: 0
	+media($screen-md-min)
		.layout-sidebar-right--stroke-bottom > .row
			padding-bottom: em(140)

