.TransferDay
  .LandingPage
    .row
    &-fullwidth-video-cta
      height: 60vh
      overflow: hidden
      background-image: url('/assets/images/Landing page/bg_image@2x.jpg')
      +media($screen-md-max)
        background-image: url('/assets/images/Landing page/mobile_bg_image@2x.jpg')
        height: 85vw
        background-position: right
        &::after
          display: none
      +media($screen-iphone6-max)
        height: 125vw
        background-position: -7em 0em
        &::after
          display: none
      .row
        max-width: unset
      &__wrap
        padding-top: 0px
        max-width: 100vw
      &__titleBlock
        display: flex
        flex-direction: row
        justify-content: center
        +media($screen-md-max)
          display: block
      &__title
        color: #fff
        padding-top: 6.25em
        h1
      &__title1
        position: relative
        z-index: 10
        margin-top: 20vh
        position: relative
        right: -8.5vh
        +media($screen-md-max)
          margin: 0
          right: 0
          padding-top: 20px
        h1
          color: $body-copy
          font-size: 6vw
          letter-spacing: 0
          font-weight: normal
          white-space: nowrap
          +media($screen-lg-min)
            font-size: 6vh
          +media($screen-md-max)
            color: #fff
            font-size: 10vw
          .mobile
            display: none
            +media($screen-md-max)
              display: block
        .LandingPage-fullwidth-video-cta__subtextBlock
          p
            color: $body-copy
            width: 17em 
            font-size: 1.5vw
            line-height: 1.75em
            +media($screen-md-max)
              color: #fff
              width: 50vw
              font-size: 3vw
              line-height: 5vw
            +media($screen-iphone6-max)
              font-size: 5vw
              line-height: 8vw
            +media($screen-lg-min)
              width: 25vh
              font-size: 1.75vh
              line-height: 2em

      &__student
        height: 60.1vh
        width: auto
        position: relative
        z-index: 20
        +media($screen-md-max)
          display: none
      &__title2
        position: relative
        z-index: 10
        margin-top: 20vh
        position: relative
        left: -8.5vh
        +media($screen-md-max)
          display: none
        h1
          color: #fff
          font-size: 6vw
          letter-spacing: 0
          font-weight: normal
          white-space: nowrap
          +media($screen-lg-min)
            font-size: 6vh
      &__cta-btn
        background-color: unset
        border-color: #fff
        color: #fff
        &:hover
          background-color: #fff
          color: #EF0030
        +media($screen-md-max)
          background-color: #fff
          border: none
          color: #EF0030

  .content
    .row
      max-width: 88.5em !important
  .LandingPage-fullwidth-video-cta

  .content-head
    h2
      text-align: center
      font-size: 3.4375rem
      letter-spacing: 0.00156rem
      font-weight: normal
      margin: em(20) 0
  .content
    .row
      max-width: 88.5em
    &__locations
      padding-top: 30px
      margin-bottom: 60px
      +media($screen-md-max)
        margin-top: em(30)
      &--Address
        +span-columns (3)
        margin: 0 5%
        border-top: 3px solid #1f2228
        +media($screen-md-max)
          +span-columns (12)
          +shift (0)
        margin-bottom: em(50)
        h4
          font-size: 1.5em
          line-height: 1.5em
          letter-spacing: -0.02083em
          padding: em(5) 0 0
        h5
          font-size: em(18)
          margin-bottom: em(5)
        p
          line-height: 1.5em
          font-style: normal
          color: #505258
          font-family: "NeueHaasGroteskDisp-Regular"
        a
          height: 1.25em
          padding-left: 2.5625em
          line-height: 1.25em
          padding-left: 2.5625em
          font-family: "NeueHaasGroteskDispMedium"
          background: 0 50% no-repeat
          background-size: 1.25em auto
          text-decoration: none
          display: inline-block
          background-image: url("../../assets/images/icon-directions.svg")
          margin-top: em(15)
  .about
    margin: em(100) 0
    &-title
      h5
        text-align: center
        font-size: 1rem
        color: #EF0030
        margin: 0.3125rem
        font-weight: normal
      h2
        text-align: center
        font-size: 3.4375rem
        letter-spacing: 0.00156rem
        font-weight: normal
    p
      width: 60%
      margin: 15px auto
      line-height: 1.5em
      font-style: normal
      color: #505258
      font-family: "NeueHaasGroteskDisp-Regular"
      +media($screen-md-max)
        width: 90%
  .LandingPage-fullwidth-video-cta__cta-btn
    background: transparent
    margin-top: 11vw
    +media($screen-lg-min)
      background: transparent
      margin-top: 11vh
    +media($screen-md-max)
      margin-top: 2vw

#pagetitle, #pagetemplate
  display: none
.card-slider
  +media($screen-sm-max)
    padding: 0 !important
    margin: 0
  &__slick
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    +media($screen-sm-max)
      justify-content: center
  &__card
    margin: 15px
    +media($screen-sm-max)
      margin: em(30) auto
