html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mobileForm {
  color: #fff;
  display: none; }
  @media screen and (max-width: 767px) {
    .mobileForm {
      display: block; } }
  @media screen and (max-width: 900px) {
    .mobileForm {
      display: block; } }
  @media screen and (min-width: 1000px) {
    .mobileForm {
      display: none; } }

header #phone p a {
  color: #fff;
  text-decoration: none; }
  @media screen and (max-width: 1000px) {
    header #phone p a {
      color: #fff;
      text-decoration: none; } }
  @media screen and (max-width: 767px) {
    header #phone p a {
      color: #fff; } }

@media screen and (min-width: 1000px) {
  .tiles {
    margin-top: 0px; } }
@media screen and (max-width: 1000px) {
  .tiles {
    margin-top: 0px; } }
@media screen and (max-width: 767px) {
  .tiles #section .contain {
    width: 60%;
    margin: 0px 20%; } }
@media screen and (max-width: 1000px) {
  .tiles #section .contain img {
    margin-top: 80px; } }
@media screen and (max-width: 767px) {
  .tiles #section .contain img {
    margin-top: 65px; } }

@media screen and (max-width: 1000px) {
  .mobileForm form input[type="submit"] {
    height: 40px;
    border-radius: 0px; } }

@media screen and (max-width: 767px) {
  #middle {
    background-size: 45%, 100%; } }

@media screen and (max-width: 767px) {
  .goToFormMobile {
    display: none; } }
@media screen and (max-width: 1000px) {
  .goToFormMobile {
    display: none; } }

@media screen and (max-width: 767px) {
  .footerSplash {
    height: 580px; } }

.jvFloat .placeHolder.active {
  opacity: 0; }

@media screen and (max-width: 767px) {
  .footerSplash footer .contain a.button {
    padding: 15px 25px !important; } }

header #SlideInfo .VertAlign {
  top: auto !important;
  left: auto !important;
  transform: none !important;
  padding-top: 180px; }

@media screen and (max-width: 1000px) {
  main h2 {
    margin: 0px 30px !important; }
  main .hold {
    margin: 0px 30px !important; }
    main .hold img {
      margin-right: 10px; } }
@media screen and (max-width: 767px) {
  main h2 {
    font-size: 56px;
    margin: 0px 15px !important; }
    main h2:first-child {
      margin-top: 24px; }
    main h2.futura {
      font-size: 52px;
      margin: 0px 15px !important; }
  main h5 {
    margin: 45px 15px 0 !important; }
  main p {
    margin: 0px 15px !important;
    /*overflow-wrap: break-word;*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    /*-ms-word-break: break-all;*/
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /*word-break: break-all; */
    /* Instead use this non-standard one: */
    /*word-break: break-word;*/ }
  main span.breakword {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    /*word-break: break-word;*/
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  main span p {
    margin: 0px 15px !important;
    /*overflow-wrap: break-word;*/
    word-wrap: break-word; }
  main ol {
    margin: 0px 15px !important; }
  main .hold {
    margin: 0px 15px 20px !important; }
    main .hold img {
      margin-bottom: 40px;
      margin-right: 8px; }
    main .hold h2 {
      display: inline-block;
      width: 50%; }
    main .hold h3 {
      font-size: 17px;
      line-height: 30px; }
    main .hold ul {
      margin: 0px;
      padding: 0px;
      padding-left: 18px; } }

@media screen and (max-width: 767px) {
  input, select {
    font-size: 16px; } }

.keypathMobile {
  display: none; }

@media screen and (min-width: 1000px) {
  main {
    width: 59%;
    margin-right: 0; } }
@media screen and (min-width: 1280px) {
  main {
    width: 59%;
    margin-right: 0; } }

@media screen and (min-width: 1000px) {
  main .hold h3 {
    font-size: 32px; } }
@media screen and (min-width: 1280px) {
  main .hold h3 {
    font-size: 37.5px; } }

main ol li {
  font-family: Georgia, Times New Roman serif !important; }
  main ol li b {
    font-family: Georgia, Times New Roman serif !important;
    font-weight: bold; }

@media screen and (min-width: 1000px) {
  main div.hold img {
    margin: 40px 8px; } }

@media screen and (min-width: 1000px) {
  main div.hold:first-of-type img {
    margin-top: 0px; } }

main ol {
  margin-bottom: 60px !important; }

main > h2 {
  margin-top: 50px; }

main > span > p {
  margin-bottom: 50px; }

/* iPhone 5 Issue fixes start*/
@media screen and (max-width: 767px) {
  header #SlideInfo h1 {
    font-size: 65px;
    line-height: 70px; } }

@media screen and (max-width: 767px) {
  header #logo {
    float: none;
    margin-right: 0%;
    width: 14.70196%;
    position: absolute;
    top: 0;
    left: 0px; } }

@media screen and (max-width: 767px) {
  header #phone {
    float: none;
    margin-right: 0%;
    width: 14.70196%;
    position: absolute;
    top: 0px;
    right: 6px; } }

@media screen and (max-width: 767px) {
  header #SlideInfo {
    width: 80%;
    margin-left: 10%; } }

@media screen and (max-width: 767px) {
  header #SlideInfo p {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px; } }

@media screen and (max-width: 767px) {
  .mobileForm h4 {
    font-size: 34px;
    text-align: center; } }

@media screen and (max-width: 767px) {
  .mobileForm #Intro {
    padding: 10px; } }

@media screen and (max-width: 767px) {
  header #logo img {
    width: 60px !important; } }

/*# sourceMappingURL=responsive.css.map */
