@import "bourbon/bourbon";
@import "neat/neat";

$Mob: new-breakpoint(max-width 767px, 4);
$Tablet: new-breakpoint(max-width 1000px, 12);
$Desktop: new-breakpoint(min-width 1000px, 12);
$StandardDesktop: new-breakpoint(min-width 1280px, 12);
$customBreak : new-breakpoint(max-width 900px, 12);

.mobileForm {
	color: #fff;
	display: none;
	@include media($Mob){
	  	display: block;
	}
	@include media($customBreak){
	  	display: block;
	}
	@include media($Desktop){
	  	display: none;
	}
}
.goToFormMobile {
	@include media($Mob){
  		display: none; 
  	}
  	@include media($Tablet){
  		display: none; 
  	}
}
header #phone p a{
	color: #fff; 
	text-decoration: none;
	@include media($Tablet){
	  	color: #fff; 
	  	text-decoration: none;
	}
	@include media($Mob){
	  	color: #fff; 
	  	font-size: 13px;
	  	padding-top: 4px;
	}
}
header #logo img{
	@include media($Desktop){
		width: 140px;
	}
	@include media($Tablet){
		width: 140px;
	}
	@include media($Mob){
		width: 95px;
		margin: 15px 0 0 7px;
	}
}
.VertAlign h1{
	@include media($Desktop){
		font-size: 75px;
	}
	@include media($Tablet){
		font-size: 75px;
	}
	@include media($Mob){
		font-size: 54px;
	}
}
.tiles {
	margin-top: 0px;

	@include media($Tablet){
    	margin-top: 0px; 
    }
    #section .contain{
    	@include media($Mob){
	    	width: 80%;
	        margin: 20px 10% 0; 
    	}
    	h2{
    		@include media($Tablet){
		    	margin-top: 50px;
		        font-size:50px; 
    		}
    		@include media($Mob){
		    	margin-top: 10px;
		        font-size:40px; 
    		}
    	}
    	h2.orange{
    		@include media($Tablet){
		    	margin-top: 0px;
		        font-size:50px; 
    		}
    		@include media($Mob){
		    	margin-top: 0px;
		        font-size:40px; 
    		}
    	}
    	p{
    		@include media($Mob){
		    	margin:0px;
		    	padding: 0px;
		    	width: 100%;
    		}
    	}
    	
    }
}
main{
	@include media($Tablet){
		h2{
			margin: 0px 30px !important;
		}
		.hold{
			margin: 0px 30px !important;
			img{
				margin-right: 10px;
			}
		}
	}
	@include media($Mob){
		h2{
		font-size: 58px;	
		margin: 0px 15px !important;
		&:first-child{
			margin-top: 24px;
		}
		&.futura{
			font-size: 52px;
			margin: 0px 15px !important;
		  }
		}

		h5 {
			margin: 45px 15px 0 !important;
		}
		p {
			margin: 0px 15px !important;
		}
		ol {
			margin: 0px 15px !important;
		}
		.hold{
			margin: 0px 15px 20px !important;
			
			img{
				margin-bottom:40px;
				margin-right: 8px;
			}
			h2{
				display: inline-block;
				width: 50%;
			}
			h3{
				font-size: 30px;
				line-height: 34px;
			}
			ul
			{
				margin: 0px;
			    padding: 0px;
			    padding-left: 18px;
			}
		}
	}
	
}
.footerSplash{ 
	height: 1000px;
	@include media($Tablet){
		background-position: top center;
	    height: 700px;
	}
	@include media($Mob){
		background-position: top center;
	    height: 490px;
	    background-size: cover;
	}
	footer{ 
		.contain{ 
			h2{
				@include media($Tablet){
				    font-size: 50px;
				}
				@include media($Mob){
				    font-size: 42px;
				}
			}  
		} 
	} 
}


header{
	#SlideInfo{
		.VertAlign{
			top: auto !important;
		    left: auto !important;
		    transform:none !important;
		    padding-top: 180px;

			h1{
				@include media($Tablet){
					font-size: 70px;
					line-height: 80px;
				}
				@include media($Mob){
					font-size: 50px;
					line-height: 63px;
				}
			}    
		}
	} 
} 

.mobileForm form input[type="submit"] {
	 @include media($Tablet){    
	    height: 40px;
	    border-radius: 0px;
	}
}
select {
	@include media($Tablet){ 
		-webkit-appearance: none;
    	-webkit-border-radius: 0px;
	    border: 1px solid #ddd;
	    background: #fff url(../slices/down.png) no-repeat 99% center;
	    border-radius: 0;
	    background-size: 9px;
	}
	@include media($Desktop){ 
		-webkit-appearance: none;
    	-webkit-border-radius: 0px;
	    border: 1px solid #ddd;
	    background: #fff url(../slices/down.png) no-repeat 98% center;
	    border-radius: 0;
	}
}


main .hold:first-of-type h3
{
	margin-top: 10px;
}
main h5
{
	font-family: "Tiempos Headline Light", serif !important;
}
h2 {
	@include media($Desktop){
		font-size: 80px;
		font-family: "Tiempos Headline Light", serif;
	}
}
h3
{
	margin-bottom: 26px;
}
.hold ul li{
	line-height: 24px;
}

main .hold img{
	@include media($Desktop){
		margin: 0px 10px 40px 8px;
	}
}
main h2.Black {
	@include media($Desktop){
    	margin-left: 120px;
    }
}
.head
{
	background: url(../slices/GettyImages-470805863.png) no-repeat;
}
.content main ol{
	margin-top: 15px !important;
}
main ol li::before{
	top: 0px;
}

input, select
{
	@include media($Mob){
		font-size: 16px;
	}
}
.keypathMobile
{
	display: none;
}
h2.Black{
	margin-top: 30px;
	@include media($Desktop){
		font-size: 55px;
	}
	@include media($Tablet){
		font-size: 55px;
		margin-top: 30px !important;
	}
	@include media($Mob){
		font-size: 45px;
		margin-top: 30px !important;
	}

}
h2.academics
{
	margin-top: 50px;
	font-weight: bold;
	@include media($Desktop){
		font-size: 70px;
	}
	@include media($Tablet){
		font-size: 65px;
		margin-top: 50px !important;
	}
	@include media($Mob){
		font-size: 45px;
		margin-top: 40px !important;
	}
}
main .hold p{
	margin-bottom: 6px;
}
h3 {
    margin-bottom: 12px;
}

