html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: Tiempos Headline Black;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Black.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Black.woff") format("woff"), url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Black.ttf") format("truetype"), url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Black.svg#Tiempos Headline Black") format("svg"); }
@font-face {
  font-family: Tiempos Headline Light;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Light.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Light.woff") format("woff"), url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Light.ttf") format("truetype"), url("../TYPEFACES/TiemposHeadline/TiemposHeadline-Light.svg#Tiempos Headline Light") format("svg"); }
@font-face {
  font-family: Tiempos Text Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/TiemposText/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/TiemposText/TiemposText-Regular.woff") format("woff"), url("../TYPEFACES/TiemposText/TiemposText-Regular.ttf") format("truetype"), url("../TYPEFACES/TiemposText/TiemposText-Regular.svg#Tiempos Text Regular") format("svg"); }

@font-face {
  font-family: 'Tiempo';
  src: url('../TYPEFACES/tiempo/Tiempo-.eot');
  src: url('../TYPEFACES/tiempo/Tiempo-.eot?#iefix') format('embedded-opentype'), url('../TYPEFACES/tiempo/Tiempo-.woff2') format('woff2'),
    url('../TYPEFACES/tiempo/Tiempo-.woff') format('woff'), url('../TYPEFACES/tiempo/Tiempo-.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans Regular';
  src: url('../TYPEFACES/opensans/OpenSans.eot');
  src: url('../TYPEFACES/opensans/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../TYPEFACES/opensans/OpenSans.woff2') format('woff2'),
    url('../TYPEFACES/opensans/OpenSans.woff') format('woff'), url('../TYPEFACES/opensans/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../TYPEFACES/opensans/OpenSans-Bold.eot');
  src: url('../TYPEFACES/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../TYPEFACES/opensans/OpenSans-Bold.woff2') format('woff2'),
    url('../TYPEFACES/opensans/OpenSans-Bold.woff') format('woff'), url('../TYPEFACES/opensans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino';
  src: url('../TYPEFACES/palatino/Palatino-Bold.eot');
  src: url('../TYPEFACES/palatino/Palatino-Bold.eot?#iefix') format('embedded-opentype'), url('../TYPEFACES/palatino/Palatino-Bold.woff2') format('woff2'),
    url('../TYPEFACES/palatino/Palatino-Bold.woff') format('woff'), url('../TYPEFACES/palatino/Palatino-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Palatino-Roman';
  src: url('../TYPEFACES/palatino/Palatino-Roman.eot');
  src: url('../TYPEFACES/palatino/Palatino-Roman.eot?#iefix') format('embedded-opentype'), url('../TYPEFACES/palatino/Palatino-Roman.woff2') format('woff2'),
    url('../TYPEFACES/palatino/Palatino-Roman.woff') format('woff'), url('../TYPEFACES/palatino/Palatino-Roman.ttf') format('truetype');
  font-style: normal;
}
html {
  margin: 0;
  padding: 0;
  font-size: 64.25%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }
  html img {
    width: 100%; }

body {
  margin: 0; }

h1 {
  font-family: "Tiempos Headline Black", serif;
  font-size: 85px;
  font-weight: lighter; }

h2 {
  font-family: "Tiempos Headline Light", serif;
  font-size: 100px;
  font-weight: normal; }
  h2 span {
    color: #000; }

h2.Black {
  font-family: "Tiempos Headline Black", serif;
  font-size: 65px;
  margin-top: 65px; }
  h2.Black .Red {
    color: #BA1E04; }

h3 {
  font-family: "Tiempos Headline Light", serif;
  font-size: 50px;
  color: #BA1E04; }

h4 {
  font-family: "Tiempos Text Regular", serif;
  font-weight: normal; }

h5 {
  font-family: "Nexa-Black", sans-serif; }

h6 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 24px; }

p.serif, .serif p {
  font-size: 15px;
  line-height: 25px;
  font-family: 'Open Sans Regular'; }

p {
  font-size: 15px;
  line-height: 25px;
  font-family: 'Open Sans Regular'; }

a:hover {
  text-decoration: none; }

b {
  font-family: "Varela Round Regular", sans-serif;
  font-weight: bold; }

li {
  font-size: 15px;
  font-family: "Varela Round Regular", sans-serif;
  font-weight: normal; }

select {
  -webkit-appearance: none; }

body {
  background: #fff; }

.left {
  float: left; }

.right {
  float: right; }

.head {
  background: url(../slices/GettyImages-470805863.png);
  background-position: center;
  background-size: auto 100%; }
  @media screen and (min-width: 2000px) {
    .head {
      background-size: 100%; } }

header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: inherit; }
  header::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 900px) {
    header {
      height: 90%; } }
  header #phone {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header #phone:last-child {
      margin-right: 0; }
    header #phone p {
      color: #fff;
      width: 250px;
      float: right;
      text-align: right; }
      header #phone p span {
        color: #aaa; }
  header #logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header #logo:last-child {
      margin-right: 0; }
    header #logo img {
      margin: 15px 0 0 15px;
      width: 100px; }
  header #SlideInfo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    text-align: center;
    margin: auto;
    height: inherit; }
    header #SlideInfo:last-child {
      margin-right: 0; }
    header #SlideInfo .VertAlign {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header #SlideInfo img {
      width: 50px; }
    header #SlideInfo h1 {
      color: #fff;
      margin: 0px 0px 15px; }
      @media screen and (max-width: 900px) {
        header #SlideInfo h1 {
          margin: 0;
          font-size: 75px; } }
    header #SlideInfo p {
      color: #fff;
      font-size: 18px; }

#middle {
  background: url(../slices/GettyImages_550216253_NOTPURCHASED.png) no-repeat, url(../slices/GettyImages_450123547_NOTPURCHASED.jpg) no-repeat;
  background-position: top right, bottom center;
  background-size: 45%, 125%; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: block; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  main:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      main:last-child {
        margin-right: 0; } }
  main img.headline {
    width: 100%;
    margin-top: 100px; }
  main p, main h2.Black, main h5, main ol {
    margin-left: 130px; }
    @media screen and (max-width: 900px) {
      main p, main h2.Black, main h5, main ol {
        margin: 0 30px; } }
  main span p {
    margin: -14px 0 20px 0; }
  main h2 {
    margin: 0; }
      @media screen and (max-width: 900px) {
        main h2 {
    	font-size: 70px; }}

  main .hold img {
    width: 45%;
    margin: 40px 20px 40px 0; }
    @media screen and (max-width: 900px) {
      main .hold img {
        font-size: 38px;
         margin: 40px 20px 80px 0; } } }
  main .hold h3 {
    line-height: 40px;
    text-transform: uppercase;
    margin: 35px 0px 20px;
    display: inline-block;
    width: 50%; }
    @media screen and (max-width: 900px) {
      main .hold h3 {
        font-size: 38px;
        margin: 5px 0px 5px; } }
  main .hold p {
    font-size: 16px;
    margin: 0 0 55px 0; }
    @media screen and (max-width: 900px) {
      main .hold p {
        margin-bottom: 10px; } }
  main .hold b {
    font-family: "Varela Round Regular", sans-serif;
    font-weight: bold; }
  main .hold:first-of-type img {
    margin-top: 0px; }
  main .hold:first-of-type h3 {
    margin-top: 150px; }
    @media screen and (max-width: 900px) {
      main .hold:first-of-type h3 {
        margin-top: 10px; } }
  main h5 {
    margin-top: 30px;
    font-family: "Nexa-Black", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: uppercase; }
  main ol {
    padding: 0;
    list-style: none; }
    main ol li {
      counter-increment: section;
      margin: 0 0 15px 85px;
      font-family: "Varela Round Regular", sans-serif;
      font-size: 15px; }
      main ol li br {
        display: block;
        margin-bottom: -10px;
        font-size: 2px;
        line-height: 2px;
        margin: 0 0 -12px 0px;
        padding: 0; }
    main ol li::before {
      content: counter(section);
      display: inline-block;
      height: 45px;
      width: 45px;
      padding: 8px 10px;
      margin-right: 40px;
      margin-left: -85px;
      font-family: "Nexa-Bold", sans-serif;
      line-height: 30px;
      border-radius: 15px;
      background-color: #fff;
      color: #BA1E04;
      background: url(../slices/Oval.png);
      background-size: 100%;
      text-align: center;
      position: relative;
      top: 10px; }

.aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  background: #fff; }
  .aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .aside {
      display: none; } }
  .aside #Intro {
    background: #BA1E04;
    padding: 15px; }
  .aside h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .aside p {
    color: #fff;
    margin:0px; }
  .aside form {
    margin-top: 10px; }
    .aside form input[type="submit"] {
      background: #BA1E04;
      color: #fff;
      font-family: "Nexa-Bold", sans-serif;
      margin-bottom:15px; }

.mobileForm {
  display: none; }
  @media screen and (max-width: 900px) {
    .mobileForm {
      display: block;
      width: 95%;
      margin: -136px auto 0;
      background: #fff; } }
  .mobileForm #Intro {
    background: #BA1E04;
    padding: 5px 15px; }
  .mobileForm h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .mobileForm p {
    color: #fff; }
  .mobileForm form {
    margin-top: 10px; }
    .mobileForm form input[type="submit"] {
      background: #BA1E04;
      color: #fff;
      font-family: "Nexa-Bold", sans-serif; }

.goToFormMobile {
  display: none; }
  @media screen and (max-width: 900px) {
    .goToFormMobile {
      display: block;
      background: #BA1E04;
      position: fixed;
      background: #000;
      bottom: 0;
      width: 100%;
      z-index: 100; }
      .goToFormMobile h4 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        margin: 0; }
      .goToFormMobile p {
        color: #fff; } }

.goToFormMobile {
  background: #BA1E04;
  padding: 0 10px; }
  .goToFormMobile a {
    text-decoration: none; }

.tiles {
  background: url(../slices/PhotoGrid.png);
  background-position: center;
  background-size: 100%;
  height: 1060px;
  margin-top: -125px; }
  @media screen and (max-width: 900px) {
    .tiles {
      background-position: center;
      background-size: 150%;
      margin-top: -60px;
      height: 600px;
      clear:both; } }
  .tiles h2 {
    color: #fff;
    font-size: 95px;
    text-align: center;
    margin-bottom: 0; }
    @media screen and (max-width: 900px) {
      .tiles h2 {
    	color: #fff;
    	font-size: 50px;
    	text-align: center;
    	margin-bottom: 0; }
    }
  .tiles #section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .tiles #section::after {
      clear: both;
      content: "";
      display: block; }
    .tiles #section .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .tiles #section .contain:last-child {
        margin-right: 0; }
      .tiles #section .contain img {
        margin-top: 300px; }
        @media screen and (max-width: 900px) {
          .tiles #section .contain img {
            margin-top: -20px; } }
      .tiles #section .contain p {
        color: #fff;
        text-align: center;
        font-size: 16px; }
      .tiles #section .contain h6 {
        color: #fff;
        text-align: center; }

.footerSplash {
  background: url(../slices/GettyImages-550216253_MODIFIED.png) no-repeat;
  background-position: bottom center;
  background-size: 100%;
  height: 1200px; }
  @media screen and (max-width: 900px) {
    .footerSplash {
      background-position: center;
      background-size: 150%;
      height: 600px; } }
  .footerSplash footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .footerSplash footer::after {
      clear: both;
      content: "";
      display: block; }
    .footerSplash footer .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      text-align: center; }
      .footerSplash footer .contain:last-child {
        margin-right: 0; }
      .footerSplash footer .contain h2 span {
        color: #BA1E04; }
      .footerSplash footer .contain a.button {
        background: #BA1E04;
        color: #fff;
        padding: 15px 40px;
        font-family: "Nexa-Black", sans-serif;
        font-size: 17px;
        text-align: center;
        text-decoration: none; }
      .footerSplash footer .contain img {
        margin-top: 80px;
        margin-bottom: 45px; }

    @media screen and (max-width: 900px) {
      .footerSplash h2 {
    	font-size: 60px; }
    }

/*# sourceMappingURL=style2.css.map */
